<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="/js/index.js"></script>
</body>
</html>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        var footerText = document.createElement("div");
        footerText.innerHTML = "Created by ingli 2023";
        footerText.style.textAlign = "center";
        footerText.style.position = "fixed";
        footerText.style.bottom = "0";
        footerText.style.width = "100%";
        footerText.id = "header"; // Add the id "header"
        document.body.appendChild(footerText);
    });
</script>
